/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    background: #000;
    color: #fff;
    overflow: hidden;
}


/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    transition: background 0.3s ease-in-out;
    z-index: 1000;
}

.navbar.scrolled {
    background: rgba(0, 0, 0, 0.8);
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 50px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff4a4a;
}

/* Burger Menu Styling */
.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.burger div {
    width: 25px;
    height: 3px;
    background: #fff;
    transition: all 0.3s ease;
}


/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 2rem;
    position: relative;
    text-align: center;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-title {
    font-size: 8rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.08em;
    transform: scaleX(1.1);
    margin: 40px 150px;
    transition: filter 0.3s ease-in-out;
}

/* Background Images */
.image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.bg-image {
    position: absolute;
    width: 20vw;
    height: auto;
    opacity: 0.4;
    transition: opacity 0.3s ease, transform 0.5s ease-out;
}

#image1 { top: 12%; left: 25%; }
#image2 { top: 10%; right: 25%; }
#image3 { bottom: 10%; left: 15%; }
#image4 { bottom: 20%; right: 10%; }
